<!-- Contacts -->
<section class="section section--contacts">
    <div class="section__header visually-hidden">
        <h2 class="section__title visually-hidden">Контакты</h2>
    </div>
    <div class="section__wrapper container">
        <div class="contacts">
            <div class="contacts__inner">
                <div class="contacts__main">
                    <div class="contacts__col">
                        <a class="contacts__phone phone" href="tel:+79257564434">+7 (925) 756 44 34</a>
                    </div>
                    <div class="contacts__col">
                        <div class="contacts__time time">
                            <p>Понедельник - пятница: с 09:00 до 21:00</p>
                            <p>Суббота - воскресенье: с 10:00 до 19:00</p>
                        </div>
                    </div>
                    <div class="contacts__col">
                        <a class="contacts__email email" href="mailto:support@vahtang.cafe">support@vahtang.cafe</a>
                    </div>
                </div>
                <div class="contacts__bottom">
                    <div class="contacts__col">
                        <a href="#" class="btn">Написать нам</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
