<!-- Cooperation -->
<section class="section section--cooperation">
    <div class="section__wrapper container">
        <div class="section__content">
            <div class="cooperation">
                <div class="cooperation__inner">
                    <div class="cooperation__info">
                        <h2 class="cooperation__title">Сотрудничество</h2>
                        <div class="cooperation__text">
                            <p>Откройте свой собственный франчайз ресторана, чтобы подарить вашим гостям уникальный опыт и яркие вкусовые впечатления. Мы предоставим вам все необходимые инструменты, обучение и поддержку, чтобы помочь вам успешно развиваться и стать частью нашего успешного делового сообщества.</p>
                            <p>Присоединяйтесь к нам, и мы вместе создадим место, где каждый гость будет чувствовать себя как часть большой грузинской семьи.</p>
                        </div>
                        <div class="cooperation__pic">
                            <img data-src="images/cooperation/mountains.png" src="images/icons/empty.png" alt="горы">
                        </div>
                        <p class="cooperation__welcome">С уважением, команда сети ресторанов “ВАХТАНГ”</p>
                        <div class="cooperation__contacts">
                            <div class="cooperation__contacts-col">
                                <a class="cooperation__phone phone" href="tel:+79257564434">+7 (925) 756 44 34</a>
                            </div>
                            <div class="cooperation__contacts-col">
                                <div class="cooperation__time time">
                                    <p>Понедельник - пятница: с 09:00 до 21:00</p>
                                    <p>Суббота - воскресенье: с 10:00 до 19:00</p>
                                </div>
                            </div>
                            <div class="cooperation__contacts-col">
                                <a class="cooperation__email email" href="mailto:support@vahtang.cafe">support@vahtang.cafe</a>
                            </div>
                        </div>
                        <div class="cooperation__bottom">
                            <a class="btn" href="#">Сотрудничество</a>
                        </div>
                    </div>
                    <div class="cooperation__img">
                        <img data-src="images/cooperation/cooperation-img.jpg" src="images/icons/empty.png" alt="картинка">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
