<!-- Kitchen -->
<section class="section section--kitchen">
    <div class="section__wrapper container">
        <div class="section__header">
            <h2 class="section__title">Не просто грузинская, <br> а домашняя грузинская кухня!</h2>
            <p class="section__text">Сеть кафе домашней грузинской кухни. Наши повара из разных регионов Грузии будут радовать вас своими блюдами, каждое наше кафе отличается своей индивидуальностью, наши повара стараются внести во вкус частицу того места откуда они происходят, у каждой из них есть какой-то секрет, который придает особое очарование и неповторимость вкуса. Все блюда готовятся из продуктов высшего качества, быстро, по-домашнему вкусно, с любовью и теплом Грузии. Наше меню предлагает самые яркие хиты грузинской кухни, наш персонал - теплый прием и грузинское гостеприимство.</p>
        </div>
        <div class="section__content">
            <div class="kitchen">
                <div class="kitchen__inner">
                    <div class="kitchen__main">
                        <ul class="kitchen__list">
                            @@loop('items/kitchen.html', 'data/kitchen.json')
                        </ul>
                        <div class="kitchen__info">
                            <p>
                                Хинкали, Хачапури, Харчо - <br>
                                визитная карточка Грузии и нашего проекта! <br>
                                А также сациви, лобио, люля, пхали и домашние грузинские сладости.
                            </p>
                        </div>
                    </div>
                    <div class="kitchen__bottom">
                        <a class="btn" href="#">Написать нам</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
