<!-- Space -->
<section class="section section--space">
    <div class="section__wrapper container">
        <div class="section__header">
            <h2 class="section__title">Вариативность помещения:</h2>
        </div>
        <div class="section__content">
            <div class="space">
                <div class="space__inner">
                    <ul class="space__list">
                        @@loop('items/space.html', 'data/space.json')
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
