<!-- Welcome -->
<section class="section section--welcome">
    <div class="section__wrapper container">
        <div class="section__header section__header--secondary">
            <h2 class="section__title">Добро пожаловать!</h2>
            <p class="section__georgian">მონრძანდით!</p>
            <div class="section__img">
                <img src="images/welcome/welcome.png" alt="картинка">
            </div>
            <p class="section__text section__text--small">Мы гордимся представлять вам аутентичную грузинскую кухню, богатую вкусом и традициями. Наши блюда готовятся с любовью и заботой, чтобы каждый гость чувствовал себя как дома.</p>
        </div>
    </div>
</section>
