<!-- Map -->
<section class="section section--map">
    <div class="section__wrapper container">
        <div class="section__header">
            <h2 class="section__title">Новогорск</h2>
        </div>
        <div class="section__content">
            <div class="map">
                <div class="map__inner map__inner--secondary">
                    <div class="map__content">
                        <img src="images/map/map-02.jpg" alt="карта">
                    </div>
                    <ul class="map__list">
                        <li class="map__item">
                            <p class="map__place">Бистро «Вахтанг»</p>
                            <p class="map__address">ул. Ивановская, С1с</p>
                            <button class="map__show">Показать на карте</button>
                            <a class="phone map__phone" href="tel:@@phone.tel">+7 495 750 45 45</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
