<!-- Food -->
<section class="section section--food">
    <div class="section__wrapper container">
        <div class="section__header">
            <h2 class="section__title">Категория блюд</h2>
            <p class="section__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="section__content">
            <div class="food">
                <div class="food__inner">
                    <ul class="food__list">
                        @@loop('items/food.html', 'data/food/food-02.json')
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
