@use "sass:color";

@import "partials";

.btn {
    display: inline-block;

    padding: 18px 55px;

    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    color: $white;
    color: #e5d4ba;
    text-align: center;
    letter-spacing: $letter-spacing;

    background-color: $primary;
    border: none;
    border-radius: 3px;

    @include transition(background-color, color);

    @include hover() {
        color: $white;
        background-color: $blue;
    }

    @include ms(xl) {
        padding: 16px 46px;
        font-size: 18px;
    }

    @include ms(sm) {
        padding: 12px 40px;
        font-size: 16px;
    }
}
