@import "partials";

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;

    overflow-y: auto;

    width: 320px;
    min-width: 320px;
    height: 100vh;

    color: $gold;

    background: #191d26;

    a {
        @include hover() {
            color: $white;
        }
    }

    &::-webkit-scrollbar {
        width: 4px;
        height: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gold;
        border-radius: 5px;
    }

    &__wrapper {
        height: 100%;
    }

    &__inner {
        position: relative;
        min-height: 100%;
        padding: 60px 40px;

        @include margin-bottom(60px);

        &::before,
        &::after {
            content: "";

            position: absolute;
            top: 0;
            bottom: 0;

            width: 18px;

            opacity: 0.2;
        }

        &::before {
            left: 0;
            background: url("../images/icons/header-left.png") repeat center / contain;
        }

        &::after {
            right: 0;
            background: url("../images/icons/header-right.png") repeat center / contain;
        }
    }

    &__content {
        @include margin-bottom(60px);
    }

    &__logo {
        display: block;
        width: 178px;
        margin: 0 auto;

        &-mob {
            display: none;
        }
    }

    &__burger {
        display: none;
    }

    &__menu {
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: $letter-spacing;

        &-item {
            margin-bottom: 28px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-link {
            color: inherit;

            &.is-active {
                color: $white;
            }
        }
    }

    &__contacts {
        margin-bottom: 40px;

        @include margin-bottom(8px);
    }

    &__phone {
        font-size: 20px;
        font-weight: 400;
        line-height: 130%;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.03em;

        &-link {
            color: inherit;
        }
    }

    &__time {
        font-size: 13px;
        font-weight: 400;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.03em;

        @include margin-bottom(0);
    }

    &__email {
        font-size: 13px;
        font-weight: 400;
        line-height: 130%;
        color: $white;
        text-align: center;
        letter-spacing: 0.03em;

        &-link {
            color: inherit;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            margin-right: 16px;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            opacity: 0.5;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }

    @include ms(xl) {
        right: 0;
        bottom: auto;

        overflow-y: visible;

        width: 100%;
        min-width: 100%;
        height: auto;

        &__inner {
            padding: 0;

            &::before,
            &::after {
                display: none;
            }
        }

        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin: 0;
            padding: 20px 10px 20px 30px;

            background: $accent;
        }

        &__logo {
            width: 115px;
            margin: 0;
        }

        &__burger {
            display: inline-block;
        }

        &__main {
            position: relative;
            overflow-y: auto;
            height: 0;
            transition: height 0.3s cubic-bezier(0, 1, 0, 1);

            .is-active & {
                height: calc(100vh - 94px);
            }
        }

        &__content {
            position: relative;
            min-height: 100%;
            padding: 32px 24px;

            &::before,
            &::after {
                content: "";

                position: absolute;
                top: 0;
                bottom: 0;

                width: 18px;

                opacity: 0.2;
            }

            &::before {
                left: 0;
                background: url("../images/icons/header-left.png") repeat center / contain;
            }

            &::after {
                right: 0;
                background: url("../images/icons/header-right.png") repeat center / contain;
            }
        }
    }

    @include ms(md) {
        &__top {
            padding: 5px 6px 5px 16px;
        }

        &__main {
            .is-active & {
                height: calc(100vh - 60px);
            }
        }

        &__logo {
            &-desktop {
                display: none;
            }

            &-mob {
                display: block;
            }
        }
    }
}
