@import "partials";

.main {
    flex-grow: 1;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    @include ms(md) {
        padding-right: 16px;
        padding-left: 16px;
    }
}
