@import "partials";

.slider {
    color: $black;

    .swiper {
        &-slide {
            width: 240px;
        }

        &-control {
            position: absolute;
            z-index: 5;
            top: 208px;

            &--prev {
                left: -162px;
            }

            &--next {
                right: -162px;
            }
        }
    }

    &--secondary {
        position: relative;
        padding-bottom: 30px;
        color: $white;

        &::after {
            content: "";

            position: absolute;
            bottom: -50px;
            left: 50%;
            transform: translateX(-50%);

            width: 421px;
            height: 321px;

            background: url("../images/slider/wheel.svg") no-repeat center / contain;
        }

        .swiper {
            &-control {
                top: 50%;
                transform: translateY(-50%);
                color: $gold;
                border-color: $gold;

                @include hover() {
                    color: $accent;
                    background: $gold;
                }
            }
        }

        .slider {
            &__img {
                @include img-cover(cover, 120.5%);
            }
        }
    }

    &__content {
        position: relative;
        margin-bottom: 60px;

        .swiper {
            overflow: hidden;
        }
    }

    &__main {
        position: relative;
        z-index: 5;
        max-width: 1076px;
        margin: 0 auto;
    }

    &__header {
        margin-bottom: 60px;
    }

    &__lead {
        width: 100%;
        max-width: 810px;
        margin: 0 auto;

        font-size: 24px;
        line-height: 140%;
        text-align: center;
        letter-spacing: $letter-spacing;
    }

    &__list {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(3, 1fr);
    }

    &__slide {
        letter-spacing: $letter-spacing;
    }

    &__top {
        position: relative;
    }

    &__img {
        @include img-cover(cover, 100%);
    }

    &__title {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);

        padding: 15px 16px;

        font-size: 18px;
        font-weight: 600;
        line-height: 120%;
        color: $title-color;
        text-align: center;
        text-transform: uppercase;

        background: $white;
    }

    &__info {
        padding-top: 36px;

        @include margin-bottom(10px);
    }

    &__text {
        font-size: 13px;
        line-height: 140%;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include ms(lg) {
        &__lead {
            font-size: 22px;
        }
    }

    @include ms(md) {
        &__info {
            padding-top: 24px;
        }

        &__title {
            padding: 10px 12px;
            font-size: 12px;
        }

        &__text {
            font-size: 12px;
        }

        &__header {
            margin-bottom: 40px;
        }

        &__lead {
            font-size: 18px;
        }
    }

    @include ms(sm) {
        .swiper {
            width: calc(100% + 32px);
            margin: 0 -16px;
            padding: 0;
            padding-left: 16px;
        }

        &__content {
            margin-bottom: 32px;
        }

        &--secondary {
            &::after {
                bottom: -58px;
                width: 211px;
                height: 212px;
            }
        }

        &__header {
            margin-bottom: 32px;
        }

        &__lead {
            font-size: 16px;
        }
    }
}

.section {
    &.section--slider {
        overflow: hidden;
        padding-bottom: 50px;

        .section {
            &__wrapper {
                max-width: 1430px;
            }
        }

        @include ms(lg) {
            &.wave-top {
                padding-top: 100px;
            }
        }

        @include ms(sm) {
            padding-bottom: 32px;
        }
    }
}
