@import "partials";

.slider {
    color: $black;

    .swiper {
        &-control {
            position: absolute;
            z-index: 5;
            top: 208px;

            &--prev {
                left: -162px;
            }

            &--next {
                right: -162px;
            }
        }
    }

    &--secondary {
        position: relative;
        padding-bottom: 30px;
        color: $white;

        &::after {
            content: "";

            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);

            width: 421px;
            height: 321px;

            background: url("../images/slider/wheel.svg") no-repeat center / contain;
        }

        .swiper {
            &-control {
                top: 50%;
                transform: translateY(-50%);
                color: $gold;
                border-color: $gold;

                @include hover() {
                    color: $accent;
                    background: $gold;
                }
            }
        }

        .slider {
            &__img {
                @include img-cover(cover, 120.5%);
            }
        }
    }

    &__content {
        position: relative;
        margin-bottom: 60px;
    }

    &__main {
        position: relative;
        z-index: 5;
        max-width: 1076px;
        margin: 0 auto;
    }

    &__header {
        margin-bottom: 60px;
    }

    &__lead {
        width: 100%;
        max-width: 810px;
        margin: 0 auto;

        font-size: 24px;
        line-height: 140%;
        text-align: center;
        letter-spacing: $letter-spacing;
    }

    &__list {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(3, 1fr);
    }

    &__slide {
        letter-spacing: $letter-spacing;
    }

    &__top {
        position: relative;
    }

    &__img {
        @include img-cover(cover, 100%);
    }

    &__title {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);

        padding: 15px 16px;

        font-size: 18px;
        font-weight: 600;
        line-height: 120%;
        color: $title-color;
        text-align: center;
        text-transform: uppercase;

        background: $white;
    }

    &__info {
        padding-top: 36px;

        @include margin-bottom(10px);
    }

    &__text {
        font-size: 13px;
        line-height: 140%;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.section {
    &--slider {
        padding-bottom: 50px;

        .section {
            &__wrapper {
                max-width: 1430px;
            }
        }
    }
}
