<!-- Hero -->
<section class="section section--hero wave-bottom decor-bottom">
    <div class="section__wrapper">
        <div class="hero hero--big">
            <div class="hero__inner">
                <div class="hero__bg">
                    <img src="images/hero/hero-bg.jpeg" alt="фоновая картинка">
                </div>
                <div class="hero__main">
                    <h1 class="visually-hidden hero__title">"Вахтанг" - Грузинский Вкус</h1>
                    <a class="hero__logo" href="#">
                        <img src="images/icons/logo.png" alt="Логотип" width="324" height="324">
                    </a>
                    <p class="hero__lead">В каждом блюде — кусочек грузинской гостеприимности</p>
                    <a class="hero__link btn" href="#">Посмотреть наше меню</a>
                </div>
            </div>
        </div>
    </div>
</section>
