<!-- Hero -->
<section class="section section--hero wave-bottom decor-bottom">
    <div class="section__wrapper">
        <div class="hero">
            <div class="hero__inner">
                <div class="hero__bg">
                    <img src="images/hero/hero-bg.jpeg" alt="фоновая картинка">
                </div>
                <div class="hero__main">
                    <h1 class="hero__title">О ресторане</h1>
                </div>
            </div>
        </div>
    </div>
</section>
