        </main>

        <!-- Footer -->
        <footer class="footer wave-top">
            <div class="footer__inner container">
                <div class="footer__top">
                    <h2 class="footer__title">მიირთვით გემრიელად!</h2>
                    <p class="footer__lead">Приятного аппетита!</p>
                </div>
                <div class="footer__middle">
                    <a class="footer__logo" href="#">
                        <img src="images/icons/logo.png" alt="логотип">
                    </a>
                </div>
                <div class="footer__bottom">
                    <p class="footer__copyright">Copyright © 2010-2024 Freepik Company S.L. All rights reserved.</p>
                </div>
            </div>
        </footer>
    </div>

    @@include('modals/success.html')

    <!-- js:main --><!-- /js:main -->
    <!-- js:modules --><!-- /js:modules -->
</body>

</html>
