<!doctype html>
<html lang="ru"@@if(context.mode){ class="mode--@@mode"}>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <title>@@title</title>

    <!-- css:main --><!-- /css:main -->
    <!-- css:modules --><!-- /css:modules -->
</head>

<body class="page@@if(layout != ''){ page--@@layout}" data-preload>

    <!-- Wrapper -->
    <div class="wrapper">

        <!-- Header -->
        <header class="header">
            <div class="header__wrapper">
                <div class="header__inner">
                    <div class="header__top">
                        <a href="index.html" class="header__logo">
                            <img src="images/header/header-logo.png" alt="логотип" width="178" height="85">
                        </a>
                    </div>
                    <div class="header__main">
                        <ul class="header__menu">
                            <li class="header__menu-item">
                                <span class="header__menu-link is-active">Главная</span>
                            </li>
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="about.html">О ресторане</a>
                            </li>
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="menu.html">Наше меню</a>
                            </li>
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="map.html">Рестораны на карте</a>
                            </li>
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="cooperation.html">Сотрудничество</a>
                            </li>
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="franchise.html">Франшиза</a>
                            </li>
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="vacancy.html">Вакансии</a>
                            </li>
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__contacts">
                        <div class="header__phone">
                            <a class="header__phone-link" href="tel:+74957504545">+7 495 750 45 45</a>
                        </div>
                        <div class="header__time">
                            <p>Время работы: с 10:00 до 22:00</p>
                            <p>Без выходных</p>
                        </div>
                        <div class="header__email">
                            <a class="header__email-link" href="mailto:support@vahtang.cafe">support@vahtang.cafe</a>
                        </div>

                    </div>
                    <div class="header__bottom">
                        <ul class="header__socials">
                            <li>
                                <a href="#">
                                    <img src="images/icons/instagram.svg" alt="instagram" width="32" height="33">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/icons/telegram.svg" alt="telegram" width="32" height="33">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/icons/whatsapp.svg" alt="whatsapp" width="32" height="33">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main -->
        <main class="main">
