<!-- Slider -->
<section class="section section--slider section--dark wave-top">
    <div class="section__wrapper container">
        <div class="section__header visually-hidden">
            <h2 class="section__title visually-hidden">Наше меню</h2>
        </div>
        <div class="section__content">
            <div class="slider slider--secondary">
                <div class="slider__inner">
                    <div class="slider__main">
                        <div class="slider__header">
                            <p class="slider__lead">Ароматы пряностей и традиционных грузинских блюд наполняют воздух, приглашая вас попробовать настоящие кулинарные шедевры.</p>
                        </div>
                        <div class="slider__content">
                            @@include('components/swiper.html', {
                                "id": "slider/slider-02",
                                "template": "slider/slider-02"
                            })
                        </div>
                        <div class="slider__bottom">
                            <a class="slider__btn btn" href="#">Подробнее о нас</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
